terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.backup.*
*.tfplan
.terraform
*.info


.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
.coverage.*
.cache
.pytest_cache/
*.log


.vscode/
.idea/
*.swp
*.swo
*~


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


.s3cfg


*.tmp
tmp/
.DS_Store


*.pem
*.ppk
id_rsa
id_rsa.pub

terraform/storage/infra/*.txt
*.parquet
*.db
feature_store/data
